@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

body {
  font-family: 'Lilita One', cursive;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  min-height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; 
  box-sizing: border-box;
}

.container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 325px;
  width: 100%; 
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

h2 {
  margin: 10px 0;
  color: #222831;
  font-family: 'Lilita One', cursive;
}

p {
  color: #222831;
  font-size: 14px;
}

.buttons {
  margin-top: 15px;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
}

.btn-primary {
  background: linear-gradient(45deg, #007BFF, #0056b3);
  color: #333333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.btn-secondary {
  background: linear-gradient(45deg, #6c757d, #495057);
  color: #333333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-secondary:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.btn-tertiary {
  background: linear-gradient(45deg, #FF5733, #FF8D1A);
  color: #333333;
  padding: 12px 18px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  margin: 5px;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-tertiary:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}


@media (max-width: 400px) {
  .profile-pic {
    width: 150px;
    height: 150px;
  }

  .btn {
    padding: 10px 16px;
    font-size: 13px;
  }
}
